---
import Layout from "../../layouts/Layout.astro";
import ListCard from "../../components/ListCard.astro";
import rawData from "../../data/busStopData.json";

const stops = rawData.stops;

---

<Layout title="All stops list.">
    <main>
        <h1>All bus stops</h1>
        <ul role="list" class="link-card-grid">
            {
                Object.keys(stops).map((slug) => {
                    return (
                        <ListCard
                            href={`${slug}`}
                            title={stops[slug as keyof typeof stops].name}
                        />
                    );
                })
            }
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .link-card-grid {
        all: unset;
        display: flex;
        flex-flow: column nowrap;
        gap: 15px;
    }
</style>
